body {
    overflow: hidden;
}
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}
.wrapper {
    max-width: 480px;
    margin: auto;
}
.animated-bg.ng-animate, .animated-txt.ng-animate {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}
.animated-txt.ng-animate {
    position: absolute;
}
.animated-bg.ng-leave.ng-leave-active, .animated-bg.ng-enter {
    opacity: 0;
}
.animated-bg.ng-leave, .animated-bg.ng-enter.ng-enter-active {
    opacity: 1;
}
.animated-txt.ng-enter {
    top: -100%;
}
.animated-txt.ng-enter.ng-enter-active, .animated-txt.ng-leave {
    top: 33%;
}
.animated-txt.ng-leave.ng-leave-active {
    top: 100%;
}
.md-icon {
    width: 32px;
    height: 32px;
    fill: #EEEEEE;
}
.loading {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    /* works with row or column */
    
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    img {
        width: 48px;
    }
}
md-toolbar {
    button {
        color: #fff;
    }
}
md-bottom-sheet {
    background-color: #E1E1E1;
    border: 0;
    img {
        max-width: 48px;
    }
}
.footer-signature {
    text-align: center;
    padding: 10px 0;
    font-size: 0.8em;
}
// injector
// endinjector
